<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cart">
      <h2 data-cy="cartDetailsHeading"><span jhiTranslate="eRestaurantApp.cart.detail.title">Cart</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantApp.cart.id">Id</span></dt>
        <dd>
          <span>{{ cart.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantApp.cart.description">Description</span></dt>
        <dd>
          <span>{{ cart.description }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantApp.cart.order">Order</span></dt>
        <dd>
          <div *ngIf="cart.order">
            <a [routerLink]="['/order', cart.order?.id, 'view']">{{ cart.order?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cart', cart.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
