<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="permissionComposite">
      <h2 data-cy="permissionCompositeDetailsHeading">
        <span jhiTranslate="eRestaurantApp.permissionComposite.detail.title">Permission Composite</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eRestaurantApp.permissionComposite.id">Id</span></dt>
        <dd>
          <span>{{ permissionComposite.id }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantApp.permissionComposite.description">Description</span></dt>
        <dd>
          <span>{{ permissionComposite.description }}</span>
        </dd>
        <dt><span jhiTranslate="eRestaurantApp.permissionComposite.permission">Permission</span></dt>
        <dd>
          <div *ngIf="permissionComposite.permission">
            <a [routerLink]="['/permission', permissionComposite.permission?.id, 'view']">{{ permissionComposite.permission?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/permission-composite', permissionComposite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
